/* Some default styling */

html, body {
    height: 100%;
    display: grid;
    margin:0;
    padding:0; 
    overflow:hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
}

.svg {
    margin: auto;
}

.border {
    opacity: 0;
    transition: opacity 1s;
}

#product {
    text-align: center;
    margin-top: 0.8rem;
    font-size: 1.3em;
}

path {
    transition: all 0.5s;
}