/* Some default styling */

html, body {
    height: 100%;
    display: grid;
    margin:0;
    padding:0; 
    overflow:hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.svg {
    margin: auto;
}

/* Style the cat */

path,
ellipse,
line {
  transition: all 0.5s;
}

.green-eyes {
  stroke: green;
}

.mouth-sad {
  transform-origin: 343px 318px;
  transform: rotate(180deg);
}

.nose-sad {
  transform-origin: center;
  transform: scaleY(0.5);
}

@keyframes moveEyes {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-66px);
  }
  100% {
    transform: translateY(0);
  }
}

.move-around {
  animation: moveEyes 1.5s infinite;
}